*{
    margin: 0;
    padding: 0;
    
    font-family: Arial;
    background-color: cadetblue;
}
.background{
    width: 100%;
    height: 100vh;
}
.background img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 620px;
    margin-top: 40px;
    
    overflow: hidden;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: -430px;
    border-radius: 50%;
    
}
.nav-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
}
.nav-bar{
    width: 500px;
    height: 100px;
    margin-left: 80px;
    margin-top: -420px;
    
    
    
    /* justify-items: auto; */
    /* padding-left: 20px; */
}
.nav-edit{
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
     /* width: 50px;  */
}
.About{
    margin-left: 80px; 
    margin-top: 0px;
    width: 410px;
    height: 190px;
   
    background-color: coral;
   
    border-radius: 10px;
   
    /* margin-top: 0px; */
}
.about-h1{
    background-color: coral;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
}
.about-p{
    background-color: coral;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 10px;
}
.nav-edit:hover{
    color: coral;
}
.handles{
    margin-left: 60px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    box-shadow: rgb(233, 24, 24);
}
.Handles-problem{
    color: rgb(47, 53, 47);
    font-weight: bolder;
}

.Handles-score{
    color: rgb(31, 138, 31);
    font-weight: bolder;
}
.handle-img{
    height: 300px;
    width: 250px;
}
ul li{
    list-style: none;
}
.second_div{
   width: 100%;
   
}
.Handles_title{
    font-family: 'Segoe UI';
    margin-left: 50px;
}
.skill-img{
    width: 200px;
    height: 200px;
    margin-left: 500px;
    background-color: #fff;
}